@font-face {
  font-family: 'GlacialIndifference';
  src: url('fonts/GlacialIndifference-Bold.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MyFont', sans-serif;
  background-color: #fff;
  color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align left */
  padding: 2rem 1rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 0.4rem 0;
}

main {
  flex: 1;
  padding: 2rem;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-top {
  font-size: 2rem; /* JC size */
  font-weight: bold;
}

.logo-bottom {
  font-size: 2rem; /* JOURNAL size */
  font-weight: bold;
  letter-spacing: 2px;
}
